body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f8fa;
  display: flex; /* 横並び */
  height: 100vh;
}

/* サイドバー */
#sidebar {
  width: 280px;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  flex-shrink: 0; /* 固定幅 */
}

/* メインコンテンツ */
#main {
  flex-grow: 1;        /* 残り幅を自動で使う */
  padding: 30px;
  overflow-y: auto;
}

#content {
    padding: 30px
}

#graph {
  width: 100%;
  height: 600px;
}

/* リスト・階層 */
#sidebar ul { list-style: none; padding-left: 0; margin: 0; }
#sidebar li { margin: 5px 0; }
#sidebar li.has-sub > ul { display: none; }
#sidebar li.has-sub.open > ul { display: block; }
#sidebar ul ul { margin-left: 1rem; border-left: 2px solid #e0e0e0; padding-left: 0.8rem; }

/* カード風 */
#sidebar ul > li {
  background: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
#sidebar ul > li:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transform: translateY(-2px);
}

/* リンク */
a { color: #444; text-decoration: none; transition: all 0.2s; }
a:hover { color: #0078ff; }
a.active { color: #0078ff; font-weight: 600; border-bottom: 2px solid #0078ff; }

/* スマホ */
@media(max-width:800px){
  body { flex-direction: column; }
  #sidebar { width: 100%; height: auto; box-shadow: none; border-bottom:1px solid #ddd; }
  #main { margin-left: 0; padding: 20px; }
}
